<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01servlet</display-name>
  <servlet>
    <servlet-name>SomeServlet</servlet-name>
    <servlet-class>hs.servlet.SomeServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>程飞扬</param-value>
    </init-param>
    <init-param>
      <param-name>age</param-name>
      <param-value>13</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeServlet</servlet-name>
    <url-pattern>*.servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>