<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">  
	
<configuration>
	<!-- mybatis.xml暂时可有可无 -->
	<typeAliases>	
		<package name="com.reyco.core.pojo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/reyco/core/mapper/permission.mapper.xml"/>
		<mapper resource="com/reyco/core/mapper/account.mapper.xml"/>
	</mappers>
</configuration>