<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.reyco.core.dao.NavDao">
	<!-- 缓存类配置-->
  	<cache /> 
	<select id="searchList" resultType="Nav" useCache="true">
		select id,name from nav 
	</select>
	
</mapper>