<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hs.dao.StudentDao">	

	<resultMap id="studentMapper" type="Student">
		<id property="sid" column="sid"/>
		<result property="sname" column="sname"/>
		<collection property="courses" ofType="Cours"> 
			<id property="cid" column="cid"/>
			<result property="cname" column="cname"/>
		</collection>
	</resultMap>
	<select id="selectStudentById" resultMap="studentMapper">
		select sid,sname,cid,cname
	    from student,cours,middle
		where sid=student_id and cid=cours_id and sid=#{sid}
	</select>
</mapper>