<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.reyco.dubbo.mapper.AccountMapper">

	<select id="selectList" resultType="Account">
		select * from account
	</select>
	
	<select id="login" resultType="Account">
		select id,name,password from account where name=#{name}
	</select>
	<update id="updatePath">
		update account set path=#{path} where id = #{id}
	</update>
</mapper>