<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd      
                        http://www.springframework.org/schema/context      
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd      
                        http://www.springframework.org/schema/mvc      
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- JobDetail第二种方式 -->
	<bean id="messageJobDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass"
			value="com.reyco.core.quartz.MessageScheduledJob" />
		<property name="jobDataMap">
			<map>
				<entry key="messageService" value-ref="messageService" />
				<entry key="queueProducerService"
					value-ref="queueProducerService" />
			</map>
		</property>
		<property name="durability" value="true" />
	</bean>
	<bean id="messageCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="messageJobDetail" />
		<!-- 每两分钟执行 -->
		<property name="cronExpression" value="0 0/1 * * * ? *" />
	</bean>
	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="messageJobDetail" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="messageCronTrigger" />
			</list>
		</property>
	</bean>
</beans>    