<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hs.dao.UserDao">
	<!-- 开启二级缓存第一步映射文件添加<cache/>标签 -->
	<cache/>
	<!--  对二级缓存的局部关闭：cacheEnabled -->
	<select id="selectUserById" useCache="false" resultType="User">
		select * from user where id =#{id}
	</select>
	<select id="selectUserById2" resultType="User">
		select * from user where id =#{id}
	</select>
	
	<!--  设置增删改对二级缓存不刷新：flushCache="false"-->
	<insert id="insertUser" flushCache="false">
		insert into user(name,age) values(#{name},#{age})
	</insert>
</mapper>