<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hs.dao.UserDao">
	<!-- username,userag为map的key -->
	<select id="selectUserByMap" resultType="User">
		select * from user 
		where name like '%' #{username} '%' 
		and age > #{userage} 
	</select>	
	<select id="selectUserByMap1" resultType="User">
		select * from user 
		where name like '%' #{username} '%'
		and age > #{userage} 
		and id > #{user.id}
	</select>
	<!-- 0,1 放的是索引-->
	<select id="selectUserByContext" resultType="User">
		select * from user 
		where name like '%' #{0} '%'
		and age > #{1} 
	</select>
	<!-- #{}内可以放的内容：
		1，参数对象的属性。
		2, 随机内容，此时的 #{}是个占位符。
		3, 参数为map时的key。
		4，参数为map时，若key所对应的value为对象时，则可将该对象的属性放入。
		5，参数的索引号
	  -->
</mapper>