<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
  		  http://www.springframework.org/schema/beans/spring-beans.xsd
       	  http://www.springframework.org/schema/aop 
       	  http://www.springframework.org/schema/aop/spring-aop.xsd
       	  http://www.springframework.org/schema/tx 
       	  http://www.springframework.org/schema/tx/spring-tx.xsd
       	  http://www.springframework.org/schema/context 
       	  http://www.springframework.org/schema/context/spring-context.xsd">
       	  
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
    	<property name="location" value="classpath:db.properties"/>
    </bean>  	  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="${driver}"/>
    	<property name="url" value="${url}"/>
    	<property name="username" value="${username}"/>
    	<property name="password" value="${password}"/>
    </bean>    
    <!-- 声明式事务 -->
    <!-- 事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="txManager">
    	<tx:attributes>
    		<tx:method name="add" propagation="REQUIRED"/>
			<tx:method name="insert" propagation="REQUIRED"/>
			<tx:method name="update" propagation="REQUIRED"/>
			<tx:method name="delete" propagation="REQUIRED"/>
			<tx:method name="remove*" propagation="REQUIRED"/>
			<tx:method name="get" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED"/>	
    	</tx:attributes>
    </tx:advice>    
    <aop:config>
    		<aop:pointcut expression="execution(* com.reyco.core.service.*.*(..))" id="pointcut"/>
    		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
    </aop:config>
    
   	 <!-- SqlSession工厂 -->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<!-- <property name="configLocation" value="classpath:mybatis.xml"/> -->
    	<property name="mapperLocations" value="classpath*:com/reyco/core/mapper/*.mapper.xml" />
        <property name="typeAliasesPackage" value="com.reyco.core.pojo"/>
        <property name="plugins">
            <bean class="com.github.pagehelper.PageInterceptor">
                <property name="properties">
                    <value>
                        pageSizeZero=true;
                        reasonable=true;
                        supportMethodsArguments=true;
                        params=(pageNum=pageNo;pageSize=pageSize)
                    </value>
                </property>
            </bean>
        </property>
    </bean>
    
    <bean id="exceptionHandler" class="com.reyco.core.intercepters.DefaultExceptionHandler"/>
   
    <context:component-scan base-package="com.reyco.core"/>
 </beans>       