<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>name</param-name>
    <param-value>程飞扬</param-value>
  </context-param>
  <context-param>
    <param-name>age</param-name>
    <param-value>13</param-value>
  </context-param>
  <servlet>
    <servlet-name>SomeServlet</servlet-name>
    <servlet-class>hs.servlet.SomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeServlet</servlet-name>
    <url-pattern>*.some</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>otherServlet</servlet-name>
    <servlet-class>hs.servlet.OtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otherServlet</servlet-name>
    <url-pattern>*.other</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thridServlet</servlet-name>
    <servlet-class>hs.servlet.ThridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>thridServlet</servlet-name>
    <url-pattern>*.thrid</url-pattern>
  </servlet-mapping>
</web-app>